/bin
/obj
/.vs/Thrive_Form/v16
/Properties/PublishProfiles/FolderProfile.pubxml
/Properties/PublishProfiles/FolderProfile.pubxml.user
/Properties/PublishProfiles/FolderProfile1.pubxml
/Properties/PublishProfiles
